<div class="form-container">
<h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "my-form" }) do |f| %>
  <div class="input-container">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="input-container">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="input-container">
    </div>
  <% end %>

  <div class="input-container">
    <%= f.submit "Log in",class: "btn btn-success" %>
  </div>
<% end %>
</div>


