<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <title>TestProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">


  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: black;">
      <div class="container-fluid">
        <a class="navbar-brand navbar-item" href="/"><i class="bi bi-film mx-1"></i>MovieRails</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active navbar-item" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active navbar-item" aria-current="page" href="/add">Add a Movie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active navbar-item" aria-current="page" href="/about">About Us</a>
            </li> 
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "My Lists", "/list/index", method: :get, class: "nav-link active navbar-item" %>
              </li>
              <li class="nav-item">
                <%= link_to edit_user_registration_path, class: "nav-link active navbar-item" do %>
                  <i class="bi bi-person-circle"></i> My Profile
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link active navbar-item" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, class: "nav-link active navbar-item" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign In", new_user_session_path, class: "nav-link active navbar-item" %>
              </li>
            <% end %>  
          </ul>
        </div>
      </div>
  </nav>
    
    <%= render 'shared/flash_messages' %>
    
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>